:root {
  --primary: #13293d;
  --secondary: gold;
  --header: white;
  --light: rgb(189, 212, 234);
  --splash: cadetblue;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.3;
  background-color: rgb(233, 233, 233);
  width: 100%;
  color: var(--primary);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--primary);
  border-bottom: 8px double var(--secondary);
}

h1 {
  font-size: 200%;
  font-weight: bold;
  color: var(--header);
  width: 60%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 100%;
  font-weight: bold;
}

nav a {
  color: var(--light);
  text-decoration: none;
}

nav a:hover {
  color: var(--header);
  text-decoration-line: underline;
  text-decoration: underline solid var(--splash) 50%;
  text-underline-offset: 10px;
}

figure {
  height: 300px;
  background-image: url("../images/circuit-board.jpeg");
  background-size: cover;
  background-position: center;
}

main {
  display: flex;
  flex-direction: column;
  margin: 2% 12%;
}

main header {
  padding: 10px;
  font-size: 120%;
  font-weight: bold;
  color: var(--header);
  width: 100%;
  background-color: var(--primary);
  border-left: 5px solid var(--secondary);
}

main section {
  border: 3px dashed var(--primary);
  margin: 10px 0px 20px 0px;
  padding: 10px;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 120%;
}

.about img {
  width: 25%;
  max-width: 250px;
  margin-right: 20px;
  height: fit-content;
}

.work-first {
  position: relative;
}

.work-first img {
  width: 100%;
}

.work-first p {
  position: absolute;
  bottom: 20%;
  font-size: 250%;
  color: white;
  background-color: var(--primary);
  padding: 15px;
  border-style: solid;
  border-width: 5px;
  border-color: var(--splash);
  border-left: none;
  flex-shrink: 5;
}

.work-first img:hover {
  outline: solid 10px var(--splash);
}

.work-rest {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.work-rest a {
  display: flex;
  justify-content: space-around;
  width: 49.5%;
  margin: 0.5% 0;
}

.work-rest img {
  width: 100%;
  justify-content: center;
  position: relative;
}

.work-rest img:hover {
  outline: solid 10px var(--splash);
}

.work-rest p {
  position: absolute;
  font-size: 200%;
  color: white;
  background-color: var(--primary);
  padding: 15px;
  border-style: solid;
  border-width: 5px;
  border-color: var(--splash);
  border-left: none;
}

#project1 {
  top: 28%;
}

#project2 {
  top: 28%;
  left: 50.5%;
}

#project3 {
  bottom: 12%;
  left: 0%;
}

#project4 {
  bottom: 12%;
  left: 50.5%;
}

.contact ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 120%;
  margin: 10px;
}

.contact a {
  text-decoration: none;
  color: var(--splash);
}

@media screen and (max-width: 768px) {
  nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--primary);
  border-bottom: 8px double var(--secondary);
  }
  nav h1{
    font-size: 180%;
  }
  nav ul {
    float: left;
    font-size: 96%;
    width: 50%;
    justify-content: space-between;
    align-items: center;
  }
  figure {
    height: 200px;
  }
  main {
    margin: 2% 6%;
  }
  .work-first p {
    font-size: 200%;
    padding: 10px;
  }
  .work-rest p {
    font-size: 150%;
    padding: 10px;
  }
}
  
  @media screen and (max-width: 600px) {
    nav {
    display: inline-block;
    padding: 10px 15px;
    width: 100%;
    }
    nav h1{
      font-size: 180%;
      width: 100%;
    }
    nav ul {
      padding-top: 10px;
      float: left;
      font-size: 90%;
      width: 60%;
      justify-content: space-between;
      align-items: center;
    }
    figure {
      height: 200px;
    }
    main {
      margin: 2% 5%;
    }
    main header {
      padding: 10px;
      font-size: 100%;
    }
    .about {
      font-size: 100%;
    }
    .contact ul {
      font-size: 100%;
    }
    .work-first p {
      font-size: 200%;
    }
    .work-rest p {
      font-size: 150%;
    }
}
@media screen and (max-width: 425px) {
  nav {
  display: inline-block;
  padding: 10px 15px;
  width: 100%;
  }
  nav h1{
    font-size: 160%;
    width: 100%;
  }
  nav ul {
    padding-top: 10px;
    float: left;
    font-size: 80%;
    width: 80%;
    justify-content: space-between;
    align-items: center;
  }
  figure {
    height: 200px;
  }
  main {
    margin: 2% 2%;
  }
  main header {
    padding: 10px;
    font-size: 90%;
  }
  .contact ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .work-first p {
    font-size: 150%;
    padding: 5px;
  }
  .work-rest p {
    font-size: 100%;
    padding: 5px;
  }
}