:root {
  --primary: #13293d;
  --secondary: aqua;
  --light-text: silver;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
  line-height: 1.3;
  background-color: azure;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--primary);
  border-bottom: 8px double var(--secondary);
  color: white;
}

h1 {
  font-size: 200%;
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  font-size: 110%;
  font-weight: bold;
}

nav a {
  color: var(--light-text);
  text-decoration: none;
}

nav a:hover {
  color: gold;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: 96%;
  margin: 2%;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 5px dashed var(--secondary);
  margin: 10px 0px 20px 0px;
  padding: 20px;
}

main section header {
  padding-bottom: 20px;
  font-size: 120%;
  font-weight: bold;
  text-decoration: underline;
  color: var(--primary);
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.about img {
  width: 200px;
  margin-right: 20px;
}

.about p {
  display: flex;
  justify-content: space-between;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact p {
    display: flex;
    justify-content: left;
    padding-right: 20px;
}

.contact a {
    text-decoration: none;
}

@media screen and (max-width: 992px) {
  .contact p {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .contact p {
    width: 50%;
  }
}
